@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap");
@import "tailwindcss";

@theme {
  --color-golden: #e2852e;
  --color-lightGolden: #f5c857;
  --color-lightestGolden: #ffee91;
  --color-sky: #abe0f0;
  --color-lightGray: #d3d3d3;
  --color-charcoalDark: #181C14

  --font-primary: "Poppins", sans-serif;
  --font-secondary: "Roboto", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-primary);
    width: 500px;
    margin: 0 auto;
  }
}
